     @font-face {
    font-family: 'Comic Block DEMO by Marta van E';
    src: url('../assets/ComicBlockDEMObyMartavanEck.woff2') format('woff2'),
        url('../assets/ComicBlockDEMObyMartavanEck.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'KG What the Teacher Wants';
    src: url('../assets/teach.woff2') format('woff2'),
        url('../assets/teach.woff') format('woff');
    font-weight: normal;
}
     
     /* sterretje selector voor alles */
     *,html {
    padding: 0;
    margin: 0;
    font-family: 'KG What the Teacher Wants';
    }

h1,h2{
    font-family: 'Comic Block DEMO by Marta van E';
}

body{
    font-family: 'KG What the Teacher Wants';
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2em;
}
h3{
    color: rgb(13, 203, 169);
}


 /* Body */

 header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
 }

 /* het menu */

 header nav {
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    background-color: #80BF9A;
    padding:4em 1em 1em;
    width:12em;

    translate: 100% 0;

    transition: .3s;
 }

 header nav.open {
    translate: 0% 0;
}



 header nav ul {
 list-style:none;
 margin:0;
 padding:0;

 display: grid;
 gap:.25em;

}

header nav ul a { 
    color:white;
    display: block;
    border-style:solid  ;
    border-width:.1em;
    border-color: white;
    border-radius:.5em;

    padding:1em;
}

/* de menu button */
header button {
    position: fixed;
    top:1em;
    right:1em;
    z-index: 1;

    font-size:1em;
    padding:.25em .5em;

    background-color: #CAE2CC;

    border-style:solid;
    border-width:.1em;
    border-color: black;
    border-radius:.5em;
}


 /* main */
main{
    margin-bottom: 4em;
}

html {
    background-color: #CAE2CC;
}

body {
        padding:1rem;
        background-image: url("../images/veelstappen.png");
        background-size: 16em auto;
    
        background-position: center 26vw;
        background-repeat:no-repeat;
        background-attachment: fixed;
    
    }

    footer {
        position: fixed;
        background-color:#A599Bf;
        bottom: .5em;
        left: 2%;
        width: 95%;
        height: 3.5em;
        border-radius: 5em;
        
    }

    footer nav ul a{
        background-color:#A599Bf;
        color: azure;
        text-decoration: none;
    }

    footer nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

    }
    
    footer nav ul {
        list-style: none;
        display: flex;
        gap: 10px;
        
    }

     article h2{
        display: none;
     }

    section {
        background-color:#87CA94;
        border-radius: 1em;
        padding: 1em;
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    section:first-of-type{
        background-color: rgb(251, 255, 0);
    }



    section:last-of-type{
        flex-direction: row;
        justify-content: center;
    }

    .index section:last-of-type{
        flex-direction: column
    }

    .stap1 section:last-of-type a,
    .stap2 section:last-of-type a,
    .stap3 section:last-of-type a{
        display: flex;
        justify-content: center;
        align-content: center;
        color: white;
        background-color:palevioletred;
        padding: .5em;
        border-radius: 2.5em;
        text-decoration: none;
    }
 
    .stap1 section:last-of-type,
    .stap2 section:last-of-type,
    .stap3 section:last-of-type{
        background: none;
    }
    section:last-of-type a{
        width:50%
    }

    img{
        width: 30%;
    }


.multiply{
    mix-blend-mode: multiply;
}
.stap1 section{
    background-color: rgb(111, 129, 233);
}

.stap3 section{
    background-color:coral

}
.bronnen main{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 1em;

}
.bronnen section{
    justify-content: start;
    width: 35%;
    margin: 0;
    padding: 1em;
    

}

.bronnen section ul{
    list-style: none;
}
.bronnen section a{
    justify-content: flex-start;
    background:none;
    color: black;
}

.bronnen section:last-of-type{
    flex-direction: column;
}

/* het formulier */

form {
    /* voor uimte tussen de feildsets en ook de button */
    display:grid;
    gap:1em;
}

fieldset {
    padding:.5em 1em 1em;
    background-color: yellow;

    border:none;
    border-radius:1em;

    display: grid;
    gap:.5em;
}

fieldset legend {
    font-size:1.5em;
}

form fieldset p {
    margin:0;
}

form fieldset label {
    display: block;
}

/* formuliervelden */
form input, 
form select, 
form textarea {
    box-sizing: border-box;
    display: block;
    width:100%;

    font-size: 1em;
    padding:.25em;
    border-radius:.5em;
    border-style:solid;
    border-width:.1em;
    border-color: black;
}

form input[type="range"] {
    padding:0;
}

form input[type="number"] {
    width:5ch;
}


form div {
    display:flex;
    gap:1em;
}

form button {
    font-size:1em;

    border-radius:1rem;
    border:none;
    padding:1rem;

    flex-basis: 0;
}

form button[type="reset"] {
    background-color: white;
    color:crimson;    

    flex-grow: 3;
}


form button[type="submit"] {
    background-color: green;
    color:white;    
    font-size:1.25em;

    flex-grow: 5;
}
